:root {
    --bg-color: #F5F6F7;
    --font-color: #36453F;
    --font-color-on-bg: var(--font-color);
    --link-color: #36453F;
    --border-color: #36453F;
    --shadow-color: #36453F;
    --link-hover-color: #36453F;
    --link-decoration-color: #ECCB6B;
    --accent-color: #ECCB6B;
    --input-bg: white;
    --button-bg: #36453F;
    --button-fg: #FCFCFC;
    --button-hover-bg: var(--accent-color);
    --button-hover-fg: var(--font-color-on-bg);
    --font-weight: 400;
    --blockquote-color: #666;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #2A2A2A;
        --font-color: rgba(255, 255, 255, 0.85);
        --font-color-on-bg: #36453F;
        --link-color: var(--font-color);
        --border-color: #F5F6F7;
        --shadow-color: #665800;
        --input-bg: #F5F6F7;
        --button-bg: rgba(255, 255, 255, 0.85);
        --button-fg: #121212;
        --button-hover-bg: var(--accent-color);
        --button-hover-fg: var(--font-color-on-bg);
        --font-weight: 400;
        --blockquote-color: #99A8B3;
    }
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.full-width {
    display: block;
    width: 100%;
}

body {
    font-size: 1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: var(--font-weight);
    color: var(--font-color);
    background-color: var(--bg-color);
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
}

::selection {
    background-color: var(--accent-color);
    color: var(--font-color-on-bg);
}

a {
    transition: .1s all linear;
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 0.2em;
}

a:hover {
    // text-decoration-thickness: 0.3em;
}

header {
    margin: 1em 0;
}

footer {
    border-top: 1px solid #777;
    padding-top: 1em;
    margin: 2em 0 2em;
    line-height: 1.5;
    text-align: center;
}

footer a {
    white-space: nowrap;
}

article {
    font-size: 1.1em;
}

h1 {
    margin: 0;
    padding: 0 !important;
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
    margin: 0;
}

h2 a {
    text-decoration-color: transparent;
}

h2 a:hover {
    text-decoration-color: var(--link-decoration-color);
}

p, li {
    font-size: 1em;
    line-height: 1.3;
}

p {
    margin: 0.5em 0;
    padding: 0.5em 0;
}

ul {
    margin: 0;
}

ul, li {
    line-height: 1.3;
    margin: 0.5em 0;
}

li + li {
    margin-top: 0.5em;
}

code {
    font-size: 0.85em;
    padding: 0em 0.1em;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
}

td {
    border: 1px solid;
    padding: 0.25em 0.5em;
}

article h2 {
    margin: 0.5em 0 0;
    padding: 0.5em 0 0;
}

.button {
    font-weight: var(--font-weight);
    background: var(--button-bg);
    color: var(--button-fg);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    outline: 0;
    padding: 0.75em 1em;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
}

.button:hover {
    background: var(--button-hover-bg);
    color: var(--button-hover-fg);
    text-decoration: none;
}

.button:focus {
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
}

.full-width {
    width: 100%;
}

div.subscribe form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
    margin: 1em 0;
    font-size: 1.25em;
}

div.subscribe input[type="email"] {
    color: #333;
    background-color: var(--input-bg);
    border: 1px solid var(--accent-color);
    flex-grow: 3;
    border-radius: 5px;
    padding: 0.75em 1em;
    font-size: 1em;
    margin-right: 0.5em;
}

div.subscribe .button {
    flex-grow: 1;
}

.chip-container {
    margin: 1em 0 0;
    transition: .1s all linear;
}

.chip-container a:not([title]) {
    text-decoration: none;
}

.chip-container > a {
    display: block;
    box-shadow: 3px 3px var(--shadow-color);
    cursor: pointer;
    position: relative;
    left: 0px;
    top: 0px;
}

.chip-container > a:hover {
    left: -2px;
    top: -2px;
    box-shadow: 5px 5px var(--shadow-color);
}

.chip-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.chip-left {
    color: var(--font-color-on-bg);
    border: 1px solid var(--border-color);
    background-color: var(--accent-color);
    width: 33%;
    font-weight: bold;
}

.chip-left a {
    color: var(--font-color-on-bg);
}

.chip-left ::selection {
    background-color: var(--bg-color);
    color: var(--font-color);
}

.chip-right {
    border: 1px solid var(--border-color);
    width: calc(67% + 1px);
    margin-left: -1px;
}

.chip-item {
    padding: 1em;
}

.logo-chip {
    background: var(--bg-color);
}

.logo-chip .dlp-logo {
  display: block;
  width: 100%;
  height: auto;
}

.chip-home {
    cursor: cell;
}

.chip-item + .chip-item {
    border-top: 1px solid var(--border-color);
}

.chip-container p {
    padding: 0;
    margin: 0;
    font-size: inherit;
}

.chip-category {
    font-size: 1em;
    margin-top: 0.25em;
    opacity: 0.75;
}

.home .page-header .chip-right {}

.page-header .chip-right {
    font-size: 1.175em;
    line-height: 1.475;
}

.page-header .chip-left a {
    display: flex;
    height: 100%;
}

.page-header .chip-left:hover {
    transform: rotate(3deg);
    transition: .1s all linear;
}

.metadata {
    margin-top: 1em;
    margin-bottom: 1em;
}

.metadata-item {
    border: 1px solid var(--border-color);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.metadata-item + .metadata-item {
    border-top: none;
}

.metadata-item .metadata-label {
    font-weight: bold;
    border-right: 1px solid var(--border-color);
    width: 33%;
}

.metadata-item .metadata-value {
    width: calc(67% + 1px);
    margin-left: -1px;
}

.metadata-label, .metadata-value {
    padding: 0.25em 1em;
}

blockquote {
    font-size: 0.9em;
    line-height: 1.5;
    color: var(--blockquote-color);
    border-left: 3px solid var(--blockquote-color);
    padding-left: 1.5em;
    margin-left: 0em;
    margin: 1em 0 2em;
}

.updates {
    border-top: 1px solid #777;
}

.banner {
    color: var(--font-color-on-bg);
    text-align: center;
    margin: 1em 0;
    padding: 1em;
    background-color: var(--accent-color);
}

@media (max-width: 625px) {
    body {
        font-size: 0.9em;
    }
    h1 {
        font-size: 1.75em;
    }
    h2 {
        font-size: 1.5em;
    }
    .page-header .chip-left:hover {
        transform: none;
    }
    .chip-container {
        margin: 1em 0;
    }
    .chip-inner {
        flex-direction: column;
    }
    .chip-left {
        width: 100%;
        border: 1px solid var(--border-color);
    }
    .chip-right {
        width: 100%;
        border: 1px solid var(--border-color);
        margin-left: 0;
        margin-top: -1px;
    }
    .chip-item {
        padding: 0.5em;
    }
    div.subscribe form {
        flex-direction: column;
    }
    div.subscribe input[type="email"] {
        margin: 0;
    }
    div.subscribe input:not([hidden]) {
        margin: 0.25em 0;
    }
}

